[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mrtsSphere"]
	path = mrtsSphere
	url = https://github.com/stlabtw/multi-resolution-sphere
